<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/socket.io/socket.io.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
 
<script>
    var socket = io.connect();
    function addquestion(ele){
        socket.emit("addquestion",ele.value)
        ele.value=""
    }
</script>

<input type="text" id="question" required>
<input type="button" onclick="addquestion(document.getElementById('question'))" value="add">
</body>
</html>