<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>

    <style>

    </style>
</head>

<body>
    <div id="questions" >

    </div>


    <script>
        var socket = io.connect();
        var allquestions = '<%- question %>';
        allquestions = JSON.parse(allquestions)
        questions = document.getElementById("questions");
        Object.keys(allquestions).forEach(function (eachques) {
            Object.keys(allquestions[eachques]).forEach(function (option) {
                if (option != "question") {
                    element = document.createElement("input");
                    element.type = "Button";
                    element.setAttribute("onclick", "vote(this)"); 
                    element.value = option + ": " + allquestions[eachques][option];
                    element.id = eachques + option


                    questions.appendChild(element);

                }
                else{
               
                    divele=document.createElement("lable");
                    divele.innerHTML=allquestions[eachques]["question"]
                    document.getElementById("questions").appendChild(divele)
                }

            });
            var br = document.createElement("br");
            questions.appendChild(br);
            
        });

        function vote(element) {
            socket.emit("vote", element.id)
        }


        socket.on('incvote', data => {
            document.getElementById(data).value=document.getElementById(data).value.slice(0,3) +(parseInt(document.getElementById(data).value.slice(3))+1)
        });

    </script>


</body>

</html>